<% data.stages.stages.each do |stageKey, stage| %>
  <% next unless (stage.dev_ops == dev_ops) %>
<%= "1. **#{stage.display_name}<a name=\"#{stageKey}\"></a>** \\| PM: [#{stage.pm}] \\| PMM: [#{stage.pmm}] \\| EM: [#{stage.engineering_manager}] \| FEM: [#{stage.frontend_engineering_manager}] \\| CM: [#{stage.cm}] \| TW: [#{stage.tech_writer}]" %>
	<% data.categories.each do |categoryKey, category| %>
    <% next unless (category.stage == stageKey) %>
    <% kbdElement = "" %>
    <% if category.available && (category.available.year == Date.today.year) %>
      <% kbdElement = (category.available <= Date.today) ? "<kbd>New in #{Date.today.year}</kbd>" : "<kbd>Planned #{Date.today.year}</kbd>" %>
    <% elsif category.available && (category.available.year > Date.today.year) %>
      <% kbdElement = "<kbd>Planned #{category.available.year}</kbd>" %>
    <% end %>
    <% categoryName = category.alt_link ? "[#{category.name}](#{category.alt_link})" :
      category.body ? "[#{category.name}](/product/#{categoryKey.dup.tr('_', '-')})" :
      category.name %>
  <%= "* #{categoryName} #{kbdElement ? kbdElement : ''}" %>
  <% end %>
	<%= "* Internal Customer".pluralize(stage.internal_customers.count) + ": " + stage.internal_customers.map{ |customer| "[#{customer}]" }.join(", ") if stage.internal_customers %>
<% end %>

[Jeremy Watson]: /company/team/#d3arWatson
[Fabio Busatto]: /company/team/#bikebilly
[Joshua Lambert]: /company/team/#joshlambert
[James Ramsay]: /company/team/#jamesramsay
[Victor Wu]: /company/team/#victorwuky
[Daniel Gruesso]: /company/team/#danielgruesso
[Andreas Kämmerle]: /company/team/#andreasmarc
[Jason Lenny]: /company/team/#j4lenn
[Jason Lenny (Interim)]: /company/team/#j4lenn
[Dennis Tang (Interim)]: /company/team/#tangdennis
[Elliot Rushton]: /company/team/#ehxor
[Elliot Rushton (Interim)]: /company/team/#ehxor
[Dylan Griffith]: /company/team/#DylanGriffith
[Seth Engelhard]: /company/team/#sethengelhard
[Philippe Lafoucrière]: /company/team/#plafoucriere
[John Jeremiah]: /company/team/#j_jeremiah
[Cindy Blake]: /company/team/#cblake2000
[Liam McAndrew]: /company/team/#lmcandrew
[Tim Z (Interim)]: /company/team/#tpmtim
[Sean McGivern]: /company/team/#mcgivernsa
[André Luís]: /company/team/#andr3
[Douwe Maan]: /company/team/#DouweM
[William Chia]: /company/team/#thewilliamchia
[Marin Jankovski]: /company/team/#maxlazio
[Marin Jankovski (Interim)]: /company/team/#maxlazio
[Clement Ho]: /company/team/#ClemMakesApps
[Aricka Flowers]: /company/team/#arickaflowers
[Suri Patel]: /company/team/#suripatel
[Erica Lindberg]: /company/team/#EricaLindberg_
[Marcia Ramos]: /company/team/#XMDRamos
[Mike Lewis]: /company/team/#miketechnically
[Evan Read]: /company/team/#eread
[Axil]: /company/team/#_axil

[Quality Department]: /handbook/engineering/quality/
[Distribution Team]: /handbook/engineering/dev-backend/distribution/
[Release Managers]: /handbook/engineering/release-management/
[Site Availability Engineering]: /handbook/engineering/infrastructure/team/sae/
[Site Reliability Engineering]: /handbook/engineering/infrastructure/team/sre/
[Infrastructure Department]: /handbook/engineering/infrastructure/
[Security Department]: /handbook/engineering/security/
[UX Department]: /handbook/engineering/ux/
[Gitter]: /handbook/engineering/dev-backend/gitter/
